/* File: client/src/index.css */

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Margins/Padding */
html,
body {
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* Font and Text shadow */
body {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 100;
  color: #fff8e7; 
}

/* Z-Index Layer Variables */
:root {
  --z-ui: 0;                 /* Layer 0: UI Elements */
  --z-cityscape: -1;         /* Layer 1: Cityscape */
  --z-black-arch: -2;        /* Layer 2: Black Arch */
  --z-stars: -3;             /* Layer 3: Stars */
  --z-midnight-gradient: -4; /* Layer 4: Midnight Gradient */
  --z-sunset-mask: -5;       /* Layer 6: Sunset Mask */
  --z-clouds: -6;            /* Layer 5: Clouds */
  --z-sunset-gradient: -7;   /* Layer 7: Sunset Gradient */
}