/* File: client/src/assets/css/portfolio/common/Form.module.css */

/* Contact Form */
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
  margin-top: 1.5rem;
}

input,
textarea {
  font-family: 'Inter Tight', sans-serif;
  padding: 0.75rem 1rem;
  border: 1px solid #222; /* very dark gray, nearly black */

  border-radius: 6px;
  font-size: 1rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 1;
  color: #222;
  resize: vertical;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

input:focus,
textarea:focus {
  outline: none;
  background-color: #f0f9f8;
  opacity: 1;
  border-color: #3c7f72;
}
