  /* File: client/src/assets/css/common/MainLayoutBackground.module.css */
  
.main-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url('/assets/images/MainLayoutBackground.svg');
  background-repeat: no-repeat;
  background-size: cover;              
  background-position: center center;   
  background-attachment: fixed;
  background-color: transparent;

  pointer-events: none;
}

/* Main Layout */
.gradient-overlay {
  width: 75%;
  min-height: 100%;
  margin: 0 auto;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}