/* File: client/src/assets/css/portfolio/layout/Footer.module.css */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  background-color: transparent;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 100;
  font-size: 0.85rem;
  flex-wrap: wrap;
}

.footerIcon {
  font-size: 1.5rem;
  color: #222;
  text-decoration: none;
}

.footerIcon:hover {
  color: #2e5902;
}

.iconImage {
  width: 2rem;
  height: 2rem;
  transition: transform 0.2s ease;
}

.iconImage:hover {
  transform: scale(1.1);
}

.iconRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footerLine {
  width: 100%;
  max-width: 300px;
  height: 2px;
  background-color: #992800;
  margin: 0.15rem auto 0.15rem auto;
}

.footerLineBlue {
  width: 100%;
  max-width: 300px;
  height: 2px;
  background-color: #80d0ff;
  margin: 0.15rem auto 0.15rem auto;
}

.footerText {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 100;
  font-size: 0.85rem;
  color: #222;
}

.footerTextWhite {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 100;
  font-size: 0.85rem;
  color: #ffffff;
}
