/* File: client/src/assets/css/journal/Notebook.module.css */

.notebookContainer {
  position: relative;
  background-color: transparent;
  border-radius: 1rem;
  width: 100%;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-family: 'Georgia', serif;
  line-height: 1.7;
  color: #2b2b2b;
  background-image: url('/assets/images/Notebook.svg');
  background-repeat: repeat-y;
  background-position: left top;
  background-size: contain; 
  min-height: 1080px;
}

.journalTitle {
  font-family: 'Just Me Again Down Here', cursive;
  font-weight: bold;
  font-size: clamp(1.8rem, 5vw, 2.5rem);
  line-height: .5;
}

.journalMood {
  font-family: 'Just Me Again Down Here', cursive;
  font-weight: bold;
  font-size: clamp(1.2rem, 4vw, 1.5rem);
  line-height: .5;
}

.journalDate {
  font-family: 'Just Me Again Down Here', cursive;
  font-style: italic;
  font-size: clamp(1.2rem, 4vw, 1.5rem);
  line-height: .5;
}

.journalContent {
  font-family: 'Just Me Again Down Here', cursive;
  font-size: clamp(1.2rem, 4vw, 1.5rem);
  line-height: 1;
  white-space: pre-wrap;
}

/* Large Desktop/Laptop styles (1920px to 2350px) */
@media (max-width: 2350px) {
  .notebookContainer {
  background-image: url('/assets/images/Notebook.svg');
  background-repeat: repeat-y;
  background-position: center top;
  background-size: 100% auto;
  width: 100%;
  max-width: 1800px;
    padding: .5rem;
    margin: .5rem auto;
    font-size: clamp(1.1rem, 4vw, 1.5rem);
    background-size: 100% auto;
    min-height: 1080px;
  }
}

/* Small Desktop/Laptop styles (1000px to 1919px) */
@media (max-width: 1919px) {
  .notebookContainer {
  background-image: url('/assets/images/Notebook.svg');
  background-repeat: repeat-y;
  background-position: center top;
  background-size: 100% auto;
  width: 100%;
  max-width: 970px;
    padding: .5rem;
    margin: .5rem auto;
    font-size: clamp(0.8rem, 2.25vw, 0.95rem);
    background-size: 100% auto;
    min-height: 1080px;
  }
}

/* Extra Large Tablet styles (900px to 999px) */
@media (max-width: 999px) {
  .notebookContainer {
  background-image: url('/assets/images/Notebook.svg');
  background-repeat: repeat-y;
  background-position: center top;
  background-size: 100% auto;
  width: 100%;
  max-width: 870px;
    padding: .5rem;
    margin: .5rem auto;
    font-size: clamp(0.8rem, 2.2vw, 0.95rem);
    background-size: 100% auto;
    min-height: 1080px;
  }
}

/* Large Tablet styles (700px to 899px) */
@media (max-width: 899px) {
  .notebookContainer {
  background-image: url('/assets/images/Notebook.svg');
  background-repeat: repeat-y;
  background-position: center top;
  background-size: 100% auto;
  width: 100%;
  max-width: 670px;
    padding: .5rem;
    margin: .5rem auto;
    font-size: clamp(0.8rem, 2vw, 0.95rem);
    background-size: 100% auto;
    min-height: 1080px;
  }
}


/* Tablet styles (500px to 699px) */
@media (max-width: 699px) {
  .notebookContainer {
  background-image: url('/assets/images/Notebook.svg');
  background-repeat: repeat-y;
  background-position: center top;
  background-size: 100% auto;
  width: 100%;
  max-width: 470px;
    padding: .5rem;
    margin: .5rem auto;
    font-size: clamp(0.8rem, 2vw, 0.95rem);
    background-size: 100% auto;
    min-height: 1080px;
  }
}

/* Mobile styles (300px to 499) */
@media (max-width: 499px) {
  .notebookContainer {
  background-image: url('/assets/images/Notebook.svg');
  background-repeat: repeat-y;
  background-position: center top;
  background-size: 100% auto;
  width: 100%;
  max-width: 270px;
    padding: .5rem;
    margin: .5rem auto;
    font-size: clamp(0.75rem, 2vw, 0.85rem);
    min-height: 1080px;
  }
}

/* Small Mobile styles (399px and under) */
@media (max-width: 399px) {
  .notebookContainer {
  background-image: url('/assets/images/Notebook.svg');
  background-repeat: repeat-y;
  background-position: center top;
  background-size: 100% auto;
  width: 100%;
  max-width: 270px;
    padding: .5rem;
    margin: .5rem auto;
    font-size: clamp(0.75rem, 2vw, 0.85rem);
    min-height: 1080px;
  }
}

.textContent {
  padding-left: 4rem;
  padding-right: 1rem;
}

/* Large Desktop/Laptop styles (1920px to 2350px) */
@media (max-width: 2350px) {
  .textContent {
    padding-left: 16rem;
    padding-right: 4rem;
  }
}

/* Small Desktop/Laptop styles (1000px to 1919px) */
@media (max-width: 1919px) {
  .textContent {
    padding-left: 8rem;
    padding-right: 1rem;
  }
}

/* Extra Large Tablet styles (900px to 999px) */
@media (max-width: 999px) {
  .textContent {
    padding-left: 7rem;
    padding-right: 1rem;
  }
}

/* Large Tablet */
@media (max-width: 899px) {
  .textContent {
    padding-left: 6rem;
    padding-right: 1rem;
  }
}

/* Tablet */
@media (max-width: 699px) {
  .textContent {
    padding-left: 4rem;
    padding-right: 1rem;
  }
}

/* Mobile */
@media (max-width: 499px) {
  .textContent {
    padding-left: 3rem;
    padding-right: 1rem;
  }
}

/* Small Mobile */
@media (max-width: 399px) {
  .textContent {
    padding-left: 2rem;
    padding-right: 1rem;
  }
}
