/* File: client/src/assets/css/common/Button.module.css */

/*  === Universal Button Styles ===  */
/* Apply to all Universal button styles */
.button,
.primary,
.secondary,
.tertiary,
.quaternary,
.quinary,
.senary {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  font-size: clamp(1rem, 2.5vw, 1.3rem); 
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 4px 10px;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s ease, transform 0.2s;
  min-width: 10rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover,
.primary:hover,
.secondary:hover,
.tertiary:hover,
.quaternary:hover,
.quinary:hover,
.senary:hover {
  transform: scale(1.1);
}

.button {
  color: #400a6b; 
  background-color: #08012b;
}

.button:hover {
  background-color: #080249;
}

/*  === Variants ===  */
/* Primary Variant */
.primary {
  background-color: #400a6b; 
  color: #ffffff;
}

.primary:hover {
  background-color: #b98dff; 
  color: #000000;
}

/* Secondary Variant */
.secondary {
  background-color: #d1baf7;
  color: rgb(0, 0, 0);
}

.secondary:hover {
  background-color: #351c5b;
  color: rgb(255, 255, 255);
}

/* Tertiary Variant */
.tertiary {
  background-color: #4338ca; 
  color: white;
}

.tertiary:hover {
  background-color: #2e2491; 
  color: rgb(255, 255, 255);
}

/* Quaternary Variant */
.quaternary {
  background-color: #8a80f0;
  color: rgb(255, 255, 255);
}

.quaternary:hover {
  background-color: #c5bafc; 
  color: rgb(0, 0, 0);
}

/* Quinary Variant */
.quinary {
  background-color: #73489f;
  background-image: linear-gradient(to right, #d876cc, #0d1a71);
  color: rgb(255, 255, 255);
}

.quinary:hover {
  background-color: #412a5c; 
  background-image: linear-gradient(to right, #7a4374, #081044);
  color: rgb(255, 255, 255);
}

/* Senary Variant */
.senary {
  background-color: #2a1f5c;
  color: rgb(255, 255, 255);
}

.senary:hover {
  background-color: #08012b; 
  color: rgb(255, 255, 255);
}

/*  === Pomdoro Timer Button Styles ===  */
/* Apply to all PomodoroTimer button styles */
.buttonGroup button, .buttonGroup,
.action,
.add,
.delete,
.iconButton,
.modeButton {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: clamp(1rem, 2.5vw, 1.4rem);
  color: #ffffff;
  margin: 0 0.25rem;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.2rem;
  row-gap: .5rem; 
}

.buttonGroup button:hover, .buttonGroup:hover,
.action:hover,
.add:hover,
.delete:hover,
.iconButton:hover,
.modeButton:hover {
  color: #fff;
  transform: scale(1.1);
}

.buttonGroup {
  background-color: transparent;
}

.buttonGroup button {
  background-color: #400a6b;
}

.action {
  background-color: #400a6b;
}

.actionActive {
  background-color: #3abbbd !important;
}

.add {
  background-color: #400a6b;
}

.delete {
  background-color: #b98dff;
}

.iconButton {
  background-color: #b98dff;
  padding: 0;
  width: auto;
  min-width: unset;
}

.modeButton {
  background-color: #b98dff;
}

.modeButtonActive {
  background-color: #3abbbd !important;
}

/*  === Tracker Button Styles ===  */
/* Create Tracker Entry Button */
.createButton {
  background-color: #b98dff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.createButton:hover {
  background-color: #fff8e7;
  color: #1a103d;
}

/* Month Navigation Buttons */
.navButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.prevButton,
.nextButton {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  font-size: clamp(1rem, 2.5vw, 1.3rem); 
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 4px 10px;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s ease, transform 0.2s;
}

.prevButton {
  background-color: 	#400733;
}

.nextButton {
  background-color: #690D4F;
}

.prevButton:hover,
.nextButton:hover {
  transform: scale(1.1);
}

.monthLabel {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  font-weight: 400;
  color: pink;
}

/*  === Journal Button Styles ===  */
.createButtonWrapper {
  display: flex;
  justify-content: center !important;
  margin-top: 3rem !important; 
}