/* File: client/src/assets/css/common/CosmicBackground.module.css */


/* Login Layout */
.cosmic-background {
  background-image: url('/assets/images/DarkModeTransparent.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;            
  background-position: center;     
  color: #d3ccbb;
  width: 100%;
  min-height: 170vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  background-color: transparent;

}

/* Phones: up to 639px */
@media (max-width: 639px) {
  .cosmic-background {
    background-size: cover;
    height: 100vh;
    min-height: 100vh;
  }
}

/* Tablets: 640px to 1023px */
@media (min-width: 640px) and (max-width: 1023px) {
  .cosmic-background {
    background-size: cover;
    height: 100vh;
    min-height: 100vh;
  }
}

.glow-text {
  color: #fff8e7;
  text-shadow: 0 0 4px #fff8e7, 0 0 8px #9e89ff, 0 0 12px #9e89ff;
}

.cosmic-panel {
  backdrop-filter: blur(8px);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0 20px rgba(183, 181, 194, 0.2);
}




