/* File: client/src/assets/css/common/Logo.module.css */

.title {
  display: flex;
  gap: 0.25rem;
  text-shadow: 0 0 5px #fff8e7, 0 0 10px #9e89ff;
  justify-content: center;
  align-items: baseline;
}

.titleInner {
  font-family: 'La Belle Aurore', cursive;
  font-weight: 400;
  font-size: clamp(2.5rem, 8vw, 5.5rem);
  color: #fff8e7;
  text-shadow: 0 0 1px #fff8e7, 0 0 5px #000000;
  padding-top: 0.15rem; 
}

.titleOrbit {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 100;
  font-size: clamp(2.8rem, 8.5vw, 5.8rem);
  color: #fff8e7;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  padding-top: 0.15rem;
}
